#root {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

.logo {
	padding: 5px;
	border: 2px solid;
	width: 50px;
	margin: 20px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}
header {
	font-size: 24px;
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}
.card {
	margin: 1rem;
	border: 1px solid gray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 200px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin: 5px 15px 30px;
	text-align: center;
}
.headBtn {
	margin: 20px;
	font-size: 22px;
	color: #fff;
	background: mediumblue;
	cursor: pointer;
}
.addedTitle {
	color: white;
	font-size: 30px;
	padding: 20px;
	text-align: center;
}
.searchbar {
	height: 20px;
	font-size: 21px;
	padding: 5px;
	color: mediumslateblue;
	border: 2px solid mediumblue;
}
.addedMovieTitle {
	color: white;
}
#mySelect {
	height: 34px;
	font-size: 21px;
	padding: 2px;
	color: mediumslateblue;
	border: 2px solid mediumblue;
}
.add {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 22px;
	color: #fff;
	background: mediumblue;
	cursor: pointer;
}

h1 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
}
.card > .overlayImg {
	visibility: hidden;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
.card:hover > .overlayImg {
	visibility: visible;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 5%;
	width: 100%;
	text-align: center;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

@media screen and (min-width: 600px) {
	.card {
		flex: 1 1 calc(50% - 2rem);
	}
}

@media screen and (min-width: 900px) {
	.card {
		flex: 1 1 calc(20% - 2rem);
	}
}
